name: Build All Services

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-hoister:
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      context: .
      dockerfile: agent/Dockerfile
      image_name: emrius11/hoister
    secrets:
      registry_password: ${{ secrets.DOCKERHUB_PASSWORD }}

  build-controller:
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      context: .
      dockerfile: controller/Dockerfile
      image_name: emrius11/hoister-controller
    secrets:
      registry_password: ${{ secrets.DOCKERHUB_PASSWORD }}

  build-frontend:
    uses: ./.github/workflows/docker-build-reusable.yml
    with:
      context: frontend
      dockerfile: frontend/Dockerfile
      image_name: emrius11/hoister-frontend
      runs-on: 'ubuntu-24.04'
    secrets:
      registry_password: ${{ secrets.DOCKERHUB_PASSWORD }}